$on-tiny            : 375px;
$on-small           : 400px;
$on-palm            : 500px;
$on-tablet          : 750px;
$on-laptop          : 900px;
$on-desktop         : 1024px;
$on-widescreen      : 1200px;
$on-tv              : 1450px;
$on-tv-1650         : 1650px;
$on-tv-1920         : 1920px;

// Media Query Mixins

@mixin tiny {
  @media screen and (min-width: #{$on-tiny}) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: #{$on-small}) {
    @content;
  }
}

@mixin palm {
  @media screen and (min-width: #{$on-palm}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$on-tablet}) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: #{$on-laptop}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$on-desktop}) {
    @content;
  }
}

@mixin widescreen {
  @media screen and (min-width: #{$on-widescreen}) {
    @content;
  }
}

@mixin tv {
  @media screen and (min-width: #{$on-tv}) {
    @content;
  }
}

@mixin tv-1650 {
  @media screen and (min-width: #{$on-tv-1650}) {
    @content;
  }
}

@mixin tv-1920 {
  @media screen and (min-width: #{$on-tv-1920}) {
    @content;
  }
}
