@import "helper/variables";

%hover {
    color: $red;
}
%background-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
