@font-face {
  font-family: 'OldOriginals';
  src: url('/fonts/OldOriginals.ttf')  format('truetype');
      font-style: normal;
}
@font-face {
  font-family: 'HandOriginals';
  src: url('/fonts/HandOriginals.ttf')  format('truetype');
      font-style: normal;
}

$white: #fff;
$red: #e44d4e;
$black: #000;

// Tracker Colors
$tracker-green: green;
$tracker-yellow: yellow;
$tracker-red: red;

// Fonts
$font-italic: "Noto Serif", sans-serif;
$oldoriginals: 'OldOriginals', Helvetica, sans-serif;
$handoriginals: 'HandOriginals', Helvetica, sans-serif;

%font-italic {
    font-family: $font-italic;
    font-style: italic;
}
