.site_footer {
	background-color: $black;
	left: 0;
	padding: 5px;
	position: relative;
	right: 0;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	z-index: 100;

	@include laptop {
		padding: 5px 25px;
		width: auto;
	}
}
.left_footer {
	margin: auto;

	@include laptop {
		margin: 0;
	}
}
.right_footer {
	width: 100%;
	text-align: center;
	@include laptop {
		width: auto;
	}
}
.footer_text {
	font-size: 12px;
	font-weight: normal;
	padding: 12px 0 7px 10px;
	display: none;
	width: 100%;

	@include laptop {
		width: auto;
		text-align: right;
		display: inline-block;
		padding: 6px 0;
	}
}
.social-icons {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	padding: 10px 0 5px 10px;

	@include laptop {
		padding-right: 15px;
		padding-top: 0px;
	}
}
.social-icons a {
	color: white;
	margin-right: 10px;
}
.social-icons a:hover {
	color: rgba(230,79,76,0.95);
}
.social-icons img {
	padding-right: 7px;
}
.copy {
	font-size: 12px;
	margin: 0 auto;
	color: $white;
	font-weight: normal;
	padding-left: 10px;
	@include laptop {
		padding-top: 4px;
	}
}

.site_credits {
	@include laptop {
		width: auto;
		display: inline-block;
		margin-left: 10px;
	}
}
.site_credits2 {
	background-image: url('/img/crwn.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	width: 18px;
	height: 19px;
	margin: auto;

	@include laptop {
		display: inline-block;
		margin: 0 0 0 10px;
		vertical-align: middle;
	}


	&:hover {
		background-image: url('/img/crwn_logo_animation.gif');
	}
}
