/* Header */
.logo {
	font-size: 13px;
	padding-top: 13px;
	position: relative;
	z-index: 600;
}
.logo a {
	color: #FFF;
	text-decoration: none;
}
.logo_text {
	padding-left: 10px;
}
.site_header {
	background: black;
	height: 50px;
	padding: 0 0 0 10px;
	position: relative;
	z-index: 203;
	width: 100%;

	@include palm {
		padding: 0 20px;
	}
	@include tablet {
		padding: 0 50px;
	}

	@include tv {
		margin: 0 auto;
		padding: 0 40px;
	}
}
.site_header_wrapper {
	padding: 0 20px;

	@include tv {
		max-width: 1450px;
		margin: 0 auto;
		padding: 0;
	}
}

/* - Overlay Responsive Menu */
#menu-container {
	height: 50px;
	position: relative;
	width: 100px;

	@include palm {
		width: 50px;
	}
}
.menuButton {
	background: transparent !important;
	border: none !important;
	color: #fff !important;
	font-size: 48px !important;
	height: 100% !important;
	position: relative !important;
	width: 100% !important;
	margin-top: -12px;
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
}
.menuButton:active {
	position: relative;
	top: 1px;
}
.menuButton:hover {
	-o-transition:.75s;
    -ms-transition:.75s;
    -moz-transition:.75s;
    -webkit-transition:.75s;
    transition:.75s;
}
.overlay {
	background-color: rgba(230,79,76,0.97);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
}
.overlay nav {
	position: relative;
}
.overlay ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	position: relative;
}
.overlay ul li {
	margin:0;
	padding: 0;
	width: 100%;
	padding-bottom: 5px;
	padding-right: 10px;

	// @include palm {
	// 	padding-bottom: 20px;
	// }
}
.overlay ul li a {
	color: #fff;
	font-size: 34px;
	line-height: 1;
	font-weight: bold;
	text-decoration: none;

	@include tiny {
		font-size: 38px;
	}

	@include small {
		font-size: 48px;
	}

	@include palm {
		font-size: 60px;
		line-height: 1;
	}

	@include tablet {
		font-size: 70px;
	}

	@include widescreen {
		font-size: 90px;
	}
}
.overlay ul li a:hover {
	color: black;
}
.overlay-close {
	background: url('../img/close-v2.png') no-repeat center center !important;
	background-size: contain !important;
	border: none !important;
	color: transparent !important;
	height: 35px !important;
	outline: none;
	overflow: hidden !important;
	// position: absolute !important;
	// right: 29px !important;
	text-indent: 200% !important;
	top: 10px !important;
	width: 25px !important;
	z-index: 100 !important;

	@include tablet {
		// right: 61px !important;
	}
}
.overlay-data {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 0.5s;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-open {
	opacity: 1;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	visibility: visible;
}

.overlay-close-wrapper {
	padding: 10px 30px 0 0;

	@include tablet {
		padding: 10px 59px 0 0;
	}
}
