<section class="content_wrapper clearfix">
	<div class="section_title">{{ include.testimonial-title }}</div>
	<div>
		<ul class="testimonial_list clearfix">
			{% for member in site.data.[include.data-testimonialList] %}
			<li class="clearfix">
				<div class="testimonial_thumbnail"><img src="{{ member.thumbnail }}" /></div>
				<div class="testimonial_text">
					{{ member.name }}<br/>
					<span class="testimonial_class"> {{ member.class }} </span>
					<span class="testimonial_description"> {{ member.copy }} </span>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>