<div class="section_wrapper pull_center">
	<div class="default_text_grande">menu</div>
	<ul class="menu_list food_menu_wrapper">
		<li>classic burger<br />
		<span class="default_text_micro">cheddar cheese, lettuce, tomato, ketchup, mustard</span>
		</li>
		<li>noisy burger<br />
		<span class="default_text_micro">cheddar cheese, bacon, onion, noisy sauce</span>
		</li>
		<li>bleu-n-gold mervo burger<br />
		<span class="default_text_micro">bleu cheese crumble, lettuce, tomato, onion, mustang gold bbq sauce</span>
		</li>
		<li>turkey burger<br />
		<span class="default_text_micro">provolone, lettuce, onion, tomato jam</span>
		</li>
		<li>french fries</li>
	</ul>
</div>