<div class="section_wrapper pull_center">
	<div class="default_text_grande">menu</div>
	<ul class="menu_list food_menu_wrapper">
		<li>healthy turkey burger<br />
		<span class="default_text_micro">turkey burger, alfafa sprouts, avocado spread, swiss cheese on brioche bun</span>
		</li>
		<li>dnd burger<br />
		<span class="default_text_micro">angus burger, lettuce, tomato, cheddar cheese, ketchup, mustard on brioche bun</span>
		</li>
		<li>the noisy burger<br />
		<span class="default_text_micro">angus burger, lettuce, tomato, onion, special loud sauce, cheddar cheese on brioche bun</span>
		</li>
		<li>hawaiian burger<br />
		<span class="default_text_micro">angus burger, pepper jack cheese, teriyaki sauce, pineapple, canadian ham</span>
		</li>
		<li>hand cut fries</li>
	</ul>
</div>