    <!-- Footer -->
    <footer class="site_footer clearfix">
      <div>

        <!-- .hideme is for the slow reveal animation of the footer-menu content -->
        <div class="footer1 hideme">
          <ul class="wrapper_15 footer-menu">
            <li><a href="{{site.baseurl}}/work">work</a></li>
            <li><a href="{{ site.baseurl}}/about">about</a></li>
            <li><a href="{{ site.baseurl }}/contact">contact us</a></li>
          </ul>
          <p class="footer-paragraph">
            Noisy Tenants are agents for community. We actively seek projects that all point back to community. We aim to connect businesses, schools, neighborhoods and all that good stuff in creative projects that have the capacity to give back and be built upon way after the initial project ends.  We look to be a neighborhood&nbsp;institition. 
          </p>
        </div>
        <div class="footer2">
          <div class="footer_logo">
            <img src="/img/footer-logo.png" class="footer_logo_img" />
          </div>
          <div class="footer_text">
            housed in <br>greenmount west<br>Baltimore Md
          </div>
          <div class="social-icons">
            <a href="http://www.instagram.com"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
            <a href="http://www.twitter.com"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <a href="http://www.facebook.com"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
          </div>
          <div class="copy">
            &copy; 2017 Noisy Tenants<br>All Rights Reserved.
          </div>
        </div>
      </div>
    </footer><!-- #Footer -->

    <!-- Javascript -->
    <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
    <script src="https://use.fontawesome.com/d476a27cae.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.fadethis.min.js"></script>
    <script src="{{ site.baseurl }}/js/footer-reveal.js"></script>

    <!-- Javascript Sources for Slick Slider -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/slick/slick.min.js"></script>

    <!-- Javascript Function for Luminous Gallery -->
    <script>
      // new Luminous(document.querySelector('.simple-demo'));
      new LuminousGallery(document.querySelectorAll('.gallery-demo'), {}, {
        caption: function(trigger) {
          return trigger.querySelector('img').getAttribute('alt');
        }
      });
    </script>

    <!-- Google Analytics -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-85274042-1','auto');ga('send','pageview');
    </script>

    <!-- JQuery FadeThis -->
    <script>$(window).fadeThis({speed: 500, distance: 5});</script>
  </body>
</html>
