<div class="signup_wrapper">
	<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
			#mc_embed_signup_scroll label {
				color: #000 !important;
				margin-bottom: 25px;
				font-family: Arial, sans-serif;
				font-weight: bold;
				line-height: 24px;
			}
			#mc_embed_signup {
				background: #e7e6e6 !important;
				padding: 100px 30px;
			}
			#mc_embed_signup_scroll .email {
				background: #fff !important;
				border-color: #fff !important;
				width: 75% !important;
				border-radius: 0 !important;
				margin: 0 auto 20px !important;
			}
			#mc_embed_signup_scroll .button {
				text-decoration: none !important;
				background-color: transparent; !important;
				color: #e44d4e !important;
				font-size: 12px !important;
				padding: 0 4px !important;
				width: 40% !important;
				line-height: 24px !important;
				height: 30px !important;
				border-radius: 0 !important;
				margin: 0 auto !important;
				max-width: 150px !important;
				border: 1px solid #e44d4e !important;
				text-transform: uppercase !important;
				font-weight: bolder;
			}
			#mc_embed_signup_scroll .button:hover {
				background-color: #e44d4e !important;
				color: #fff !important;
			}
			#mc_embed_signup_scroll #mce-EMAIL {
				font-size: 12px !important;
				font-weight: normal !important;
				color: #e44d4e !important;
				margin-bottom: 30px;
			}
			@media screen and (min-width: 750px) {
					#mc_embed_signup form {
						width: 70%;
						margin: 0 auto;
						text-align: center;
						max-width: 500px;
					}
				}
		</style>
	<div id="mc_embed_signup">
		<form action="//svncrwns.us11.list-manage.com/subscribe/post?u=ab04d0cabec9aa1f49ca3e65e&amp;id=2fe748f030" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    	<div id="mc_embed_signup_scroll">
				<label for="mce-EMAIL">Signup for our newsletter to receive our secret menu developed by mervo students</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ab04d0cabec9aa1f49ca3e65e_2fe748f030" tabindex="-1" value=""></div>
    		<div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    	</div>
		</form>
	</div>
</div>