<div class="single_post_meta">
	<div class="single_post_title">{{ include.title }}</div>
	{{ include.text }}
	{% if include.film_highlight %}
	<div class="film_bold">Big City - Minisode</div>
	<div class="film_light">Run time: 5:01</div>
	<div class="film_light">Directed &amp; Written By:</div>
	<div class="film_bold">Edmond Cofie</div>
	{% endif %}
	{% if include.film_summary %}
	<div class="film_summary">
		In a stifling New York City, Paul - a precarious young man, implores his friend and confident Mimi to help him meditate. What follows is a dream-like flight through memories of the past, lost love, family, and the quest for new beginnings.
	</div>
	{% endif %}
</div>
