<div class="section_wrapper">
	<div class="template_footer_wrapper pull_center">
		<div class="default_text_lg">view more projects<br><br><img src="/img/arrow.png" width="15" /></div>
		<ul class="section_wrapper related-projects clearfix">
			<li><a href="{{ site.baseurl }}/work/bus-stop-buddies"><img src="/img/icon-bus-stop-buddies.png" /><br><br><span>bus stop buddies</span></a></li>
			<li><a href="{{ site.baseurl }}/work/noisy-burger"><img src="/img/icon-noisy-burger.png" width="40" /><br><br><span>@noisyburger</span></a></li>
			<li><a href="{{ site.baseurl }}/work/school-lunch-program"><img src="/img/icon-school-lunch-program.png" width="37" /><br><br><span>school lunch program</span></a></li>
		</ul>
	</div>
</div>