<section style="color: {{ include.testimonial-textcolor }}; background-color: {{ include.testimonial-bgcolor }}">
	<div class="template_wrapper no-margin">
	<div class="page_title_option">{{ include.testimonial-title }}</div>
	<div>
		<ul class="testimonial_list clearfix">
			{% for member in site.data.[include.data-testimonialList] %}
			<li class="clearfix">
				<div class="testimonial_thumbnail"><img src="{{ member.thumbnail }}" /></div>
				<div class="testimonial_text">{{ member.name }}<br/>
				{{ member.class }}<br/>
				{{ member.copy }}</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	</div>
</section>