<section class="section_wrapper">
	<div class="pull_center">
		<img src="/img/logo-noisy-rooster-bell.png" class="brand_icon" width="40" />
	</div>
	<div class="testimonial_item_wrapper">
		<div class="element_wrapper clearfix">
			<div class="testimonial-item-img">
				<img src="/img/testimonial-1.png" width="100" />
			</div>
			<div class="testimonial-item-text">
				First Name<br />
				c/o 2017<br />
				<div class="default_text_micro">A quick blurb about the student, an insight into what the student contributed to the overall</div>
			</div>
		</div>
		<div class="element_wrapper clearfix">
			<div class="testimonial-item-img">
				<img src="/img/testimonial-2.jpg" width="100" />
			</div>
			<div class="testimonial-item-text">
				First Name<br />
				c/o 2017<br />
				<div class="default_text_micro">A quick blurb about the student, an insight into what the student contributed to the overall</div>
			</div>
		</div>
		<div class="element_wrapper clearfix">
			<div class="testimonial-item-img">
				<img src="/img/testimonial-3.jpg" width="100" />
			</div>
			<div class="testimonial-item-text">
				First Name<br />
				c/o 2017<br />
				<div class="default_text_micro">A quick blurb about the student, an insight into what the student contributed to the overall</div>
			</div>
		</div>
	</div>
</section>