/* Footer Menu */
.site_footer {
	background-color: $black;
	width: 100%; /* controls how much padding is on the right and left side of footer */

	@include tablet {
		margin: auto;
		left: 0;
		right: 0; /* margin, right and left values, center this element */
		
		padding-left: 40px;
		padding-right: 40px;
	}

	@include tv {
		max-width: 1450px;
	}

	@include tv-1650 {
		max-width: 1650px;
	}

	
}
.footer1 {
	@include tablet {
		float: left;
		width: 70%;
	}
}
.footer2 {
	margin: 1em auto;

	@include tablet {
		float: left;
		width: 29%;
		margin: 0;
	}
}
.footer_logo {
	padding: 30px;
	text-align: center;

	@include tablet {
		padding: 15px;
	}
}
.footer_logo_img {
	width: 10%;
}
.footer_text {
	font-size: 10px;
	margin: 0 auto;
	text-align: center;
	width: 40%;
	color: $white;
}
.social-icons {
	padding: 20px 0;
	text-align: center;
}
.social-icons a {
	color: white;
	margin-right: 10px;
}
.social-icons a:hover {
	color: rgba(230,79,76,0.95);
}
.social-icons img {
	padding-right: 7px;
}
.copy {
	font-size: 10px;
	margin: 0 auto 20px;
	text-align: center;
	width: 50%;
	color: $white;

	@include tablet {
		width: 60%;
	}
}
.footer-line {
	width: 75%;
	border-bottom: 1px solid #e44d4e;
	margin: 0 auto 100px;
	max-width: 600px;
}
.footer-menu {
	font-size: 30px;
	list-style: none;
	margin: 20px;
	padding: 0;
	position: relative;
	z-index: 499;
	text-align: center;
	@include tablet {
		text-align: left;
	}
}
.footer-menu li a {
	color: white;
	text-decoration: none;
}
.footer-menu li a:hover {
	color: rgba(230,79,76,0.95);
}
.footer-paragraph {
	font-size: 14px;
	font-weight: normal;
	margin: 0 20px;
	text-transform: initial;
	width: 80%;

	@include tablet {
		font-size: 12px;
		margin-bottom: 7px;
	}
}
.contact_info {
	font-size: 13px;
	text-transform: initial;
	text-align: center;

	@include tablet {
		margin-left: 20px;	
		text-align: left;
	}
	
}
.contact_info a {
	color: $red;
	text-decoration: none;
	font-style: italic;
}
.contact_info a:hover {
	text-decoration: underline;
}