body {
	background: $black;
	color: #ffffff;
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	overflow-x: hidden;
}
body.noScroll { /* ...or body.dialogShowing */
  	overflow: hidden;
}

/* - Global Wrappers */
.noisy_wrapper {
	margin: 0 20px 100px 20px;

	@include palm {
		margin: 0 auto 100px;
		max-width: 470px;
	}

	@include tablet {
		max-width: 715px;
	}

	@include desktop {
		max-width: 1000px;
	}

	@include widescreen {
		max-width: 1200px;
	}

	@include tv {
		max-width: 1450px;
	}
}
.full_height_wrapper {
	min-height: calc(100vh - 95px) !important;
	height: auto;

	@include small {
		min-height: calc(100vh - 75px) !important;
	}
	@include laptop {
		min-height: calc(100vh - 88px) !important;
	}
}
.wrapper_overlay {
    position: relative;
    margin: -20vh auto 0; /* clears the overflow content's header for bg sliders */
    left: 0;
    right: 0;
}
.wrapper_overlay_photofeed {
	@extend .wrapper_overlay;
	margin: -35vh auto 0;
}
/* Single Work */
.below_fold {
	height: 125vh !important;
}

.flex-centered {
	height: 100%;
	justify-content: flex-start !important;
	align-items: center;
}

// HERO
.hero-bg {
  @include tablet {
    background-position: center left;
  }
}
.hero-bg-gray {
  background-color: #e3e3e3 !important;
  background: none;
  height: auto;
  margin-bottom: 8em;
}
