/* Home */
.red_span {
	color: $red;
}

/* About */
.noisy_wrapper_member {
	text-transform: initial;
	padding-bottom: 75px;
}
.member_bio_img {
	@include palm {
		width: 70%;
		margin: 3em auto 0;
	}

	@include tablet {
		float: right;
		margin: auto;
		width: 49%;
	}

	@include desktop {
		width: 40%;
	}

	@include widescreen {
		width: 37%;
		max-width: 400px;
	}

	@include tv {
		margin-top: -35px;
	}
}
.member_bio_img img {
	width: 100%;
}
.member_spacer {
	border-bottom: 1px solid;
	margin: 0 auto 5em;
	width: 50%;

	@include tablet {
		width: 25%;
	}
}

/* Work */
.work_item_wrapper {
	margin-bottom: 3em;
	width: 90%;
	margin-left: 25px;

	@include palm {
		float: left;
		width: 200px;
		height: 275px;
		margin-left: 1em;
		margin-right: 0.8em;
	}

	@include tablet {
		margin-right: 2em;
		width: 180px;
	}

	@include tv {
		width: 220px;
	}
}
.work_picture {
	margin-bottom: 20px;
}
.work_picture img {
	width: 100%;
}
.page_copy_wrapper {
	width: 90%;
}
.page_copy_section {
	margin-bottom: 100px;	
}
.page_copy_title {
	font-size: 28px;
	margin-bottom: 40px;
}
.page_copy_text {
	font-size: 18px;
	text-transform: initial;
	margin: 0 0 55px 25px;

	@include palm {
		margin: 0 0 55px 55px;
		width: 85%;
	}
}

/* Contact */
.noisy_text_wrapper {
	max-width: 500px;
	margin: 0 auto 4em;
}
input {
	background: transparent;
	border: none;
	border-bottom: 2px solid #fff;
	padding-bottom: 5px;
	margin-bottom: 20px;
	display: block;
	width: 100%;
	text-align: center;
	font-weight: lighter;
	color: #fff;
}
#input-submit {
	border: 2px solid #fff;
	padding: 8px;
	text-transform: uppercase;
}
#input-message {
	margin-bottom: 4em;
}

/* Thank You */
.thank_you_wrapper {
  text-align: center;
  width: 70%;
  margin: auto;
}


/* Docs */
.docs_item {
	border: 1px solid #000;
	padding: 15px;
	width: 75%;
	margin-bottom: 30px;
}
.docs_list {
	list-style: none;
	font-size: 14px;
}