/* - Slider */
.nt_slider {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 50px);
	background-color: #000;
}
.slide_bg {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: height 999999s;
}
.wrap_my_slide {
	margin: 0 auto;
  	width: 320px;
  	height: calc(100vh - 50px) !important;

  	@include small {
  		width: 370px;
  	}

  	@include palm {
  		width: 400px;
  	}

  	@include tablet {
  		width: 475px;
  	}

  	@include desktop {
  		width: 525px;
  	}
}
.wrap_my_slide_primary {
	height: calc(100vh - 50px) !important;
	margin-left: 50px;

	@include palm {
		width: 425px;
	}
	@include tablet {
		width: 600px;
		margin-left: 100px;
	}
	@include tv {
		margin-left: 150px;
	}
}
.slide {
	@include palm {
		padding-left: 20px;
		padding-right: 20px;	
	}
	
}
.slide_img_wrapper {
	margin-bottom: 30px;
}
.slide_img {
	margin: 15px auto 0;
	position: relative;
	text-align: center;
	width: 250px;

	@include tablet {
		margin: auto;
		width: 295px;
		// height: 550px;
	}

	@include tv {
		width: 325px;
	}
}
.slide2_img {
	margin-top: 10px;
	width: 100%;

	@include small {
		margin: 0 auto;
	}

	@include tablet {
		margin-top: 15px;
	}
}
/* - Slick Slider Properties */
.slick-dots {
	// left: -25px !important;
	bottom: 30px !important;
	width: 100%;
	text-align: center !important;

	// @include tablet {
	// 	bottom: 100px !important;
	// }
}
.slick-dots li {
	margin: 0 2px !important;

	@include desktop {
		width: 10px;
	}
}
.slick-dots li button {
	color: $red !important;
}
.slick-dots li button:before {
	color: rgba(230,79,76,0.75) !important;
	font-size: 9px !important;
}
.slick-dots li.slick-active button:before {
	color: $red !important;
}
.slide_headline {
	@extend .headline;
	padding: 0 10px;

	@include tablet {
		font-size: 22px;
		margin-bottom: 10px;
	}

	@include tv {
		font-size: 28px;
	}
}
.headline1 {
	text-transform: initial;
	font-size: 30px;
	line-height: 34px;
	padding-bottom: 35px;
	padding-right: 10px;

	@include small {
		font-size: 40px;
		line-height: 45px;
	}
	// @include palm {
	// 	font-size: 34px;
	// 	line-height: 46px;
	// }

	@include tablet {
		font-size: 55px;
		line-height: 57px;
	}

	@include widescreen {
		font-size: 64px;
		line-height: 64px;
	}

	@include tv {
		font-size: 84px;
		line-height: 84px;
	}
}
.headline2 {
	text-transform: initial;
	font-style: italic;
	font-weight: lighter;
	font-family: $font-italic;
	font-size: 18px;
	padding-bottom: 35px;
	padding-right: 10px;
	width: 90%;

	@include small {
		font-size: 22px;
	}

	@include palm {
		
	}

	@include tablet {
		width: 475px;
		font-size: 26px;
	}
}
#mypreviousbutton {
	position: absolute;
	z-index: 100;
	top: 45.2%;
	left: 10px;
	right: auto;
	background-image: url('/img/left_slide_arrow.png');
	background-size: cover;
	width: 40px;
	height: 40px;

	@include palm {
		right: 90px;
	}
	@include laptop {
		top: 50%;
		right: auto;
		left: 15px;
		width: 50px;
		height: 50px;
	}
	@include tv {
		left: 60px;
	}
}
#mypreviousbutton:hover {
	background-image: url('/img/left_slide_arrow_hover.png');
}
#mynextbutton {
	position: absolute;
	top: 45%;
	z-index: 100;
	right: 15px;
	background-image: url('/img/right_slide_arrow.png');
	background-size: cover;
	width: 40px;
	height: 40px;

	@include palm {
		right: 45px;
	}
	@include laptop {
		top: 50%;
		right: 15px;
		width: 50px;
		height: 50px;
	}
	@include tv {
		right: 60px;
	}
}
#mynextbutton:hover {
	background-image: url('/img/right_slide_arrow_hover.png');
}
.slick_btn {
	width: 30px;

	@include tablet {
		width: 50px;
	}
}
/* Content Block Slideshow */
.content_slider_wrapper {
	position: relative;
}
.content_slider {
	margin-bottom: 100px;
}
.content_slider .slide_bg {
	height: 200px !important;

	@include palm {
		height: 550px !important;		
	}
	@include tv {
		height: 650px !important;
	}
}
.content_slider {
	.slick-prev {
		left: 15px !important;
		z-index: 200;
		width: 40px;
		height: 35px;
	}
	.slick-next {
		right: 15px !important;
		z-index: 200;
		width: 40px;
		height: 35px;
	}
	.slick-prev:before,
	.slick-next:before {
		font-size: 40px;
		color: $red;
		opacity: .55;
	}
}
.noisy-slider-big-text {
	position: absolute;
    bottom: 150px;
    left: -25vw;
    font-size: 85px;
    width: 250px;
    line-height: 70px;
}
button.slick-play {
	background: transparent;
	border: none;
}

#noise-filter {
	background-color: rgba(204,165,2,0.5);
}

#noise-filter > * {
	position: relative;
}
