/* - Slider */
.nt_slider {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 50px);
	background-color: #000;
}
.slide_bg {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.wrap_my_slide {
	margin: 0 auto;
  	width: 320px;
  	height: calc(100vh - 50px) !important;

  	@include small {
  		width: 370px;
  	}

  	@include palm {
  		width: 400px;
  	}

  	@include tablet {
  		width: 475px;
  	}

  	@include desktop {
  		width: 525px;
  	}
}
.wrap_my_slide_primary {
	height: calc(100vh - 50px) !important;
	margin-left: 30px;
	@include palm {
		width: 425px;
		// margin: 0 auto;
	}
	@include tablet {
		width: 600px;

	}
}
.slide {
	@include palm {
		padding-left: 20px;
		padding-right: 20px;	
	}
	
}
.slide_img_wrapper {
	margin-bottom: 30px;
}
.slide_img {
	margin: 15px auto 0;
	position: relative;
	text-align: center;
	width: 250px;

	@include tablet {
		margin: auto;
		width: 325px;
		// height: 550px;
	}
}
.slide2_img {
	margin-top: 10px;
	width: 100%;

	@include small {
		margin: 0 auto;
	}

	@include tablet {
		margin-top: 15px;
	}
}
/* - Slick Slider Properties */
.slick-dots {
	left: -25px !important;
	bottom: 10px !important;
	width: 100%;
	text-align: right !important;
}
.slick-dots li {
	margin: 0 2px !important;

	@include desktop {
		width: 10px;
	}
}
.slick-dots li button {
	color: $red !important;
}
.slick-dots li button:before {
	color: rgba(230,79,76,0.75) !important;
	font-size: 9px !important;
}
.slick-dots li.slick-active button:before {
	color: $red !important;
}
.slide_headline {
	@extend .headline;
	padding: 0 10px;
}
.headline1 {
	text-transform: initial;
	font-size: 28px;
	line-height: 34px;
	padding-bottom: 35px;
	padding-right: 10px;

	@include tablet {
		font-size: 40px;
		line-height: 50px;
	}
}
.headline2 {
	text-transform: initial;
	font-style: italic;
	font-weight: lighter;
	font-size: 22px;
	padding-bottom: 35px;
	padding-right: 10px;

	@include tablet {
		width: 475px;	
	}
}

/* Content Block Slideshow */
.content_slider_wrapper {
	position: relative;
}
.content_slider {
	margin-bottom: 100px;
}
.content_slider .slide_bg {
	height: 550px !important;

	@include tv {
		height: 650px !important;
	}
}
.content_slider {
	.slick-prev {
		left: 15px !important;
		z-index: 200;
		width: 40px;
		height: 35px;
	}
	.slick-next {
		right: 15px !important;
		z-index: 200;
		width: 40px;
		height: 35px;
	}
	.slick-prev:before,
	.slick-next:before {
		font-size: 40px;
		color: $red;
		opacity: .55;
	}
}
.noisy-slider-big-text {
	position: absolute;
    bottom: 150px;
    left: -25vw;
    font-size: 85px;
    width: 250px;
    line-height: 70px;
}
button.slick-play {
	background: transparent;
	border: none;
}

#noise-filter {
	background-color: rgba(204,165,2,0.5);
}

#noise-filter > * {
	position: relative;
}
