// Our team
.team_row_2 {
	position: relative;
	@extend .clearfix;

	.team_member_mk {
		width: 100%;

		@include widescreen {
			float: left;
			width: 50%;
		}

		.team_member_img_wrapper_mk {
			position: relative;

			.team_member_img_mk {
				background-position: top center;
				background-repeat: no-repeat;
				background-size: contain;
				height: calc(55vh - 55px);

				@include widescreen {
					height: 90vh;
				}
			}
		}
	}
	.team_member_info_mk {
		background: $black;
		height: 50vh;
		position: absolute;
		right: 0;
		top:40vh;
		width: 100%;
		z-index: 2;

		@include tablet {
			top: 45vh;
		}
		@include widescreen {
			height: 90vh;
			top:0;
			width: 50%;
		}
	}
	.team_member_info_even_mk {
		@extend .team_member_info_mk;
		left: 0;
		right: auto;
		top:0;
		height: 50vh;

		@include widescreen {
			height: 90vh;
			top:0;
			width: 50%;
		}
	}
	.team_member_meta {
		padding: 15px 0px;
		width:85%;

		@include tablet {
			padding: 50px;
		}
		@include desktop {
			width: 85%;
		}
		@include widescreen {
			padding: 20px;
		}

		.team_member_name_mk {
			font-size: 20px;
			line-height: 30px;
			padding-bottom: 15px;

			@include small {
				font-size: 40px;
				line-height: 1;
				padding-right: 35px;
			}

			@include tablet {
				font-size:60px;
				padding-bottom: 15px;
				padding-right: 45px;
			}

			@include laptop {
				padding-right: 0;
				max-width: 500px;
			}

			@include widescreen {
				font-size:80px;
				line-height: 85px;
				padding-bottom: 35px;
			}

		}
		.team_member_summary_mk {
			font-size: 14px;
			line-height: 20px;
			padding-bottom: 25px;
			text-transform: initial;

			@include small {
				font-size: 16px;
			}

			@include tablet {
				font-size: 22px;
				line-height: 28px;
				padding-bottom: 15px;
			}
			@include widescreen {
				font-size: 28px;
				line-height: 34px;
				padding-bottom: 35px;
			}
		}
		.team_member_social_mk {
			span {
				padding-right: 20px;

				&:last-child {
					padding-right: 0;
				}

				a {
					color: $white;

					&:hover {
						@extend %hover;
					}
				}
			}
		}
	}
}
.btn_more {
	background: transparent;
	border: 0;
	left: 20px;
	position: absolute;
	top: 40px;

	@include widescreen {
		left: 60px;
		top: 60px;
	}

	&:focus {
		outline: 0;
	}

	img {
		width: 30px;

		@include widescreen {
			width: auto;
		}
	}
}
