<div class="tracker_wrapper">
    <a href="" id="tracker">Launch Bus Stop Tracker</a>
</div>

<div class="modal-overlay" id="js-modal-overlay">
    <div>
        
        <div id="openModal" class="openModal">
            <button type="button" class="tracker-close" id="tracker-close"><img src="/img/tracker-close.png"  />
            </button>

            <div class="modal-header clearfix">
                <div class="modal-title">Greenmount West Bus Tracker</div>
                <div class="modal-img"><img src="/img/school-bus.png" width="100" /></div>
            </div>
            {% for track in site.data.busstoptracker limit: 1 %}
            <div class="modal-week">
                {{ track.week }}
            </div>
            <ul class="modal-status">
                <li><span class="light green-light"></span> on time</li>
                <li><span class="light yellow-light"></span> late</li>
                <li><span class="light red-light"></span> no show</li>
            </ul>
            <div class="modal-weekly-log">

                <ul>
                    {% for day in track.day1 limit: 1 %}
                    <li>
                        Mon {{ day.date }}<div class="light-log {{ day.status }}-light">&nbsp;</div>
                    </li>
                    {% endfor %}
                    {% for day in track.day2 limit: 1 %}
                    <li>
                        Tues {{ day.date }}<div class="light-log {{ day.status }}-light">&nbsp;</div>
                    </li>
                    {% endfor %}
                    {% for day in track.day3 limit: 1 %}
                    <li>
                        Wed {{ day.date }}<div class="light-log {{ day.status }}-light">&nbsp;</div>
                    </li>
                    {% endfor %}
                    {% for day in track.day4 limit: 1 %}
                    <li>
                        Thurs {{ day.date }}<div class="light-log {{ day.status }}-light">&nbsp;</div>
                    </li>
                    {% endfor %}
                    {% for day in track.day5 limit: 1 %}
                    <li>
                        Fri {{ day.date }}<div class="light-log {{ day.status }}-light">&nbsp;</div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
            {% endfor %}

            <div class="modal-share">
                Share with <br/>
                <img src="/img/twitter.png" width="15" /> <a href="https://twitter.com/intent/tweet?text=Hi+%40BaltCitySchools+Check+out+Bus+Stop+Tracker+in+Greenmount+West+Community+via%3A+http%3A%2F%2Fwww.noisytenants.com%2Fwork%2F04-bus-stop-buddies+%23busstopbuddies" target="_blank" class="twitter-share">@BaltCitySchools</a>
            </div>
        </div>
    </div>
</div>
