.headline1 {
	font-size: 26px;
	line-height: 1.2;
	padding-bottom: 20px;
	padding-right: 10px;

	@include small {
		font-size: 40px;
	}

	@include palm {
		font-size: 50px;
	}

	@include tablet {
		font-size: 55px;
	}

	@include desktop {
		font-size: 70px;
	}

	@include tv {
		font-size: 84px;
	}
}
.headline2 {
	@extend %font-italic;
	line-height: 1.4;
	font-size: 16px;
	font-weight: lighter;
	padding-right: 10px;
	text-transform: initial;
	width: 90%;

	@include small {
		font-size: 22px;
	}

	@include palm {
		font-size: 26px;
	}

	@include tablet {
		font-size: 28px;
		line-height: 38px;
		width: 630px;
	}
}

.hero-slider {
	.slick-next {
		height: 45px;
		right: 25px;
		top: 50%;
		width: 100px;
		z-index: 200;

		@include palm {
			top: 40%;
		}

		&.slick-disabled {
			display: none !important;
		}
	}
	.slick-prev {
		height: 45px;
		left: 25px;
		top: 40%;
		width: 100px;
		z-index: 200;

		&.slick-disabled {
			display: none !important;
		}
	}
}
