<!DOCTYPE html>
<html>

  {% include layouts/head.html %}

  <body>

  	{% include components/preloader.html %}

    <div class="container clear">

    	{% include layouts/header.html %}

        {% unless page.title == "Work" or page.url == "/" %}
            {% include components/return-work.html %}
        {% endunless %}

        <div class="hero_img_home" style="background-image: url({{ page.hero_img }}); {% if page.component %} height: 100vh !important;{% endif %}">

    	   {{ content }}

        </div>

        {% include components/extra_components.html %}

        {% include layouts/footer.html %}
    </div> <!-- .container -->

  </body>

</html>
