<!DOCTYPE html>
<html>

  {% include layouts/head.html %}

  <body>
  	<!-- Preloader -->
  	<div id="preloader"></div>

    <div class="container clear">

    	{% include layouts/header.html %}

        {% include components/return-work.html %}

        <div class="hero-slider">
            {% for item in site.data[page.slide] limit:1 %}
            <div class="hero_img_home below_fold" style="background-image: url('{{ item.image }}')">
                <div class="single_post_wrapper">
                    {{ content }}
                </div>
            </div>
            {% endfor %}
            {% for item in site.data[page.slide] offset:1 %}
                <div class="hero_img_home below_fold" style="background-image: url('{{ item.image }}')"></div>
            {% endfor %}
        </div>

        {% include components/extra_components.html %}

        {% include layouts/footer.html %}
    </div> <!-- .container -->

  </body>

</html>
