<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  	<!-- Preloader -->
  	<div id="preloader"></div>

    <div class="container clear">

    	{% include header.html %}
        {% include return-work.html %}
        <div class="hero-slider">
            {% for item in site.data[page.slide] limit:1 %}
            <div class="hero_img_home below_fold" style="background-image: url('{{ item.image }}')">
                <div class="single_post_wrapper">
                    {% if page.title == "Noisy Burger" %}
                	{% include single_post_meta.html
                		title="Welcome to Noisy Burger"
                		text="<p>A one week pop-up restaurant created by students at Mergenthaler Vocational Technical High School</p>
                		<p>APRIL 26 - MAY 2 2017<br/>R. HOUSE Baltimore</p>"
                	%}
                    {% endif %}
                    {% if page.title == "Bus Stop Buddies" %}
                        {% include single_post_meta.html
                    		title="Bus Stop<br/>Buddies"
                    		text="Adults stand with youth in the neighborhood in an effort to provide a safe and positive start to their days."
                    	%}
                    	{% include busstoptracker.html %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% for item in site.data[page.slide] offset:1 %}
                <div class="hero_img_home below_fold" style="background-image: url('{{ item.image }}')"></div>
            {% endfor %}
        </div>

        <!-- {% unless page.title == "Bus Stop Buddies" %} -->
        <div class="wrapper_overlay ">
            {{ content }}
            {% include footer.html %}
        </div>
        <!-- {% endunless %} -->
    </div> <!-- .container -->

  </body>

</html>
