<!DOCTYPE html>
<html>

  {% include head.html %}

  {% if page.title == 'Our Team' or page.title == 'About' %}
  <body class="font-black">
  {% else %}
  <body>
  {% endif %}
  	<!-- Preloader -->
  	<div id="preloader"></div>

    <div class="container clear">

      {% if page.title == 'Our Team' or page.title == 'About' %}
        <div class="hero-bg-white clearfix">
      {% else %}
        <div class="hero-bg-black clearfix">
      {% endif %}

    		{% include header.html %}
        <div class="page_title_wrapper">
          <div class="page_title">{{ page.title }}</div>
        </div>
        <div class="noisy_wrapper">


      	   {{ content }}

        </div>
      </div><!-- .hero-bg -->
    </div> <!-- .container -->

    {% include footer.html %}

  </body>

</html>
