<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  	<!-- Preloader -->
  	<div id="preloader"></div>
  	<!-- #Preloader -->

    <div class="container clear">
    	<div class="noisy_hero_icon" style="background-image: url({{ page.project-hero-icon }});"></div>
		<div class="noisy_hero" style="background-color: white !important;">
			{% include header.html %}
			<div class="title_wrapper">
				<span class="title_project"> {{ page.project-title }}
				</span>
			</div>
			
			<div class="subtitle_project">
				{{ page.project-subtitle }}
			</div>

			{% if page.title == "Greenmount West Film Festival" %}
			<div class="title_logo_img">
				<img src="/img/gwff-logos.png" />
			</div>	
			{% endif %}

			<div class="home_fixed">
				<a href="/">home</a>
			</div>

		</div>
		<div class="project_layout_wrapper clearfix">
			{{ content }}
		</div>

		
		{% include viewmorework.html %}
		{% include html5video.html %}	

    </div> <!-- .container -->

    
    
    {% include footer.html %}
    

  </body>

</html>