<!DOCTYPE html>
<html>

    {% include layouts/head.html %}

    <body>

        <div id="preloader"></div>

        <div class="container clear">
            <div class="hero-bg-gray clearfix">
        		{% include layouts/header.html %}

                <div class="noisy_wrapper docs" style="color: #000;">
                    <div class="page_title">{{ page.title }}</div>

              	    {{ content }}

                </div>
            </div><!-- .hero-bg -->
        </div> <!-- .container -->

        {% include layouts/footer.html %}

    </body>

</html>
