---
layout: black_bg
--- 

<div class="noisy_hero flex noisy-hero_film" style="background-image: url('{{ page.hero-img }}');">
	<div class="film-wrapper">
		<span class="film-text">{{ page.title }}</span>
		<span class="film-spacer"></span>
		<span class="film-text">{{ page.film-date }}</span>
		<span class="film-spacer"></span>
		<span class="film-text">{{ page.film-location }}</span>
		<span class="film-spacer"></span>
		<span><a href="{{ page.film-url }}">tickets</a></span>
	</div>
</div>

{% include btn.html btn_color='on_brand_light' url-location='work' url-text="return to work" %}

<div class="footer-line"></div>
{% include template-footer.html %}