---
layout: black_bg
--- 

<div class="noisy_video_overlay">
  <div class="video_container">

    <!-- Fontawesome Close (X) Icon -->
    <span class="html5_close">close</span>

    <!-- Embedded video -->
    <iframe id="video" src="{{ page.video-url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  </div>
</div>

<div class="video_onclick" style="background-image: url('{{ page.hero-img }}');">
  <div>
    <span class="play"></span>
  </div>
</div>

{{ content }}

{% include btn.html btn_color='on_brand_light' url-location='work' url-text="return to work" %}

<div class="footer-line"></div>
{% include template-footer.html %}

<!-- Javascript for Video On Click Feature -->
{% include html5video.html %}