---
layout: black_bg
--- 

<div class="noisy_hero flex" style="background: none; background-color: {{ page.hero-color }}; color: {{ page.color-text }};">
	<div class="wrapper_30"><img src="{{ page.event-picture }}" width="{{ page.event-picture_width }}" /></div>
	<div class="wrapper_30 pull_center pull_tight">{{ page.event-description }}</div>
	<div class="wrapper_30">{{ page.event-date }}</div>

	<div class="default_text_micro">{{ page.location-name }}</div>
	<div class="default_text_micro">{{ page.location-address }}</div>
	<div class="default_text_micro">{{ page.locale }}</div>
</div>

{{ content }}

{% include btn.html btn_color='on_brand_light' url-location='work' url-text="return to work" %}

<div class="footer-line"></div>
{% include template-footer.html %}

