<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Noisy Tenants</title>
    <meta name="author" content="Montier Kess" />
    <meta name="portfolio" content="http://theivyproject.com" />
    <meta name="description" content="Noisy Tenants - a community and residential institution">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Meta OG Tags -->
    <meta name="og:title" content="Noisy Tenants">
    <meta name="og:title" content="A Community Agency">
    <meta property="og:url" content="http://www.noisytenants.com" />
    <meta property="og:image" content="/img/og-img.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/luminous-basic.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/noisytenants-theme.css"> -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400i" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/frow.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/loader.css">

    <!-- Script Files -->
    <script src="{{ site.baseurl }}/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="{{ site.baseurl }}/js/Luminous.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
  </head>
