<!-- Header -->
<header class="site_header clearfix">

    <div class="frow justify-between">
        <div class="logo">
            <a href="/"><img src="/img/nt-logo-icon.png" width="25" /><span class="logo_text">Noisy Tenants</span></a>
        </div>

        <div class="menu">
            <div id="menu-container" class="menu-btn"><button id="overlay-menu" type="button" class="menuButton"><img src="/img/icon_menu.png" /></button></div>

            <div class="site_header_wrapper">
                <div class="overlay overlay-data noScroll">
                    <div class="frow justify-end overlay-close-wrapper">
                        <button type="button" class="overlay-close">Close</button>
                    </div>

                        <div class="frow direction-column wrap-frow-content">
                            <nav>
                                <ul>
                                    <li><a href="/work">work</a></li>
                                    <li><a href="/about">about</a></li>
                                    <li><a href="/our-team">our team</a></li>
                                    <li><a href="http://www.greenmountwestcc.org" target="_blank">greenmount west</a></li>
                                    <li><a href="/busstoptracker">bus stop tracker</a></li>
                                    <li><a href="mailto:info@noisytenants.com">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</header> <!-- Header -->
